:root{
  font-family: "montserrat", sans-serif !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --v-scrollbar-offset: 0px !important;
}

.v-application {
  font-family: 'montserrat', sans-serif !important;
}
